---
# Crash Course Python for Data Science - Intro to Pandas
---
# 02 - Indexing & Subsetting DataFrames
---

## STOP! BEFORE GOING ANY FURTHER...  

Remember, this exercises are open book, open neighbour, open everything! Try to do them on your own before looking at the solution samples.

### Import pandas

In [1]:
import pandas as pd
print('pandas imported!')

pandas imported!

### Read in your data
Your dataset can be found [here.](https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv)
Import it and return the first 5 rows:

In [2]:
url = "https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv"
df = pd.read_csv(url)


print(df.head())

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

### What is the shape of the DataFrame?

In [3]:
print(df.shape)

(244, 8)

### Get specific values

In [4]:
print(df.iloc[40])

Unnamed: 0        40
total_bill     16.04
tip             2.24
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 40, dtype: object

In [0]:
# Was the 22nd entry seated in a smoking section??

### YOUR CODE GOES HERE ###

### Get a range of values

In [5]:
last_20_entries = df.tail(20)
print(last_20_entries)

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
224         224       13.42  1.58    Male    Yes   Fri   Lunch     2
225         225       16.27  2.50  Female    Yes   Fri   Lunch     2
226         226       10.09  2.00  Female    Yes   Fri   Lunch     2
227         227       20.45  3.00    Male     No   Sat  Dinner     4
228         228       13.28  2.72    Male     No   Sat  Dinner     2
229         229       22.12  2.88  Female    Yes   Sat  Dinner     2
230         230       24.01  2.00    Male    Yes   Sat  Dinner     4
231         231       15.69  3.00    Male    Yes   Sat  Dinner     3
232         232       11.61  3.39    Male     No   Sat  Dinner     2
233         233       10.77  1.47    Male     No   Sat  Dinner     2
234         234       15.53  3.00    Male    Yes   Sat  Dinner     2
235         235       10.07  1.25    Male     No   Sat  Dinner     2
236         236       12.60  1.00    Male    Yes   Sat  Dinner     2
237         237       32.83  1.17    Male    Yes   Sat  Dinner     2
238         238       35.83  4.67  Female     No   Sat  Dinner     3
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

In [0]:
# Return entries 25 through 50

### YOUR CODE GOES HERE ###

### Filtering and subsetting:

In [6]:
filtered_df = df[df["size"] > 2]
print(filtered_df)

     Unnamed: 0  total_bill   tip     sex smoker  day    time  size
1             1       10.34  1.66    Male     No  Sun  Dinner     3
2             2       21.01  3.50    Male     No  Sun  Dinner     3
4             4       24.59  3.61  Female     No  Sun  Dinner     4
5             5       25.29  4.71    Male     No  Sun  Dinner     4
7             7       26.88  3.12    Male     No  Sun  Dinner     4
..          ...         ...   ...     ...    ...  ...     ...   ...
227         227       20.45  3.00    Male     No  Sat  Dinner     4
230         230       24.01  2.00    Male    Yes  Sat  Dinner     4
231         231       15.69  3.00    Male    Yes  Sat  Dinner     3
238         238       35.83  4.67  Female     No  Sat  Dinner     3
239         239       29.03  5.92    Male     No  Sat  Dinner     3

[84 rows x 8 columns]

In [0]:
# Create a Dataframe consisting only of data for Fridays. 
# Hint: You should have 19 values.


### YOUR CODE GOES HERE ###

### Well done! Make sure your save your work. See you on the next notebook. - G



---